body{
    background-image: url(.//i.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
a{
    color: rgb(211, 216, 220);
    padding: 40px;
    margin: 20px;
   
}
a:hover{
    color: rgb(176, 177, 178);
}
img{
  padding: -200px;
margin-left: 800px;
margin-top: -600px;
}
